1.  Add to the document (in LaTeX format)  the prayer, "Act of Contrition."

2.  Add the typical, for the USA, Holy Days of Obligation, and the date they will occur
in the coming twelve months, starting September 1, 2026.

3. Add the prayer "Anima Christi."

4. Add the "Prayer of Commendation" given at Last Rites.



