1. Using the data in the PDF motivational time standars, create a PostGres database with a schema
of Age, Sex, event, and time standard (A, B, BB, AA, etc.).  Insert all the data into the Postgres database.

