1. Add the commands ``make'', ``file'', emacs to the Dockerfile.

2.  Add the latest version of Postgress Database to the Dockerfile, and make sure it mounts a local
file for database persistence, and make sure it initializes correctly when first invoked.

3.  Rename aweb.sh awegpg.sh and rename the dockefile to evansjr/awebpg.


