1.  Extract Stella Evans' seven events from the psyche-May23.pdf file, and create PDF
file of her events, and approximately what time they happen based on the information
in the timeline-swimmeet-23May2026.pdf file.

2.  Include in the PDF file you generate the agi-time-standard Stella has met, and the next time standard
she needs to aim for.  Also include the sdi-agc-time-standard for her event.

3.  Use the information for stella's best time from the stellas-best.csv file.

 
